:root {
	--theme-one: #222222;
	--text-main: #675F51;
	--text-active: #FFFFF1;
}
body {
	height: 100%;
	width: 100%;
}
* {
	margin: 0;
	padding: 0;
}
a {
	color: var(--text-main);
	text-decoration: none;
}
a:visited {
	color: var(--text-main);
}
a:hover {
	color: var(--text-active);
}
ul {
	list-style: none;
}
/* ------------------ */
.grid {
	display: grid;
	grid-template-columns: 10% 90%;
	/*grid rows not needed, will auto the length
	grid-template-rows: auto 1fr auto; */

	grid-template-areas:
		"header header"
		"sidebar content"
		"footer footer"
	;
	grid-gap: 5px; /* like a padding bottom */
}

/* ------------------ */
.header {
	grid-area: header;
	background-color: var(--theme-one);
	min-height: 40px;
	display: grid;
	align-items: center;

}
.header a {
	padding-left: 1.5em;
}

/* ------------------ */
.sidebar {
	grid-area: sidebar;
	background-color: var(--theme-one);
	color: var(--text-main);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 5px;
	border-radius: 7px;
}
.sidebar li{
	padding-top: 10px;
}

/* ------------------ */
.left {
	float: left;
}
.right {
	float: right;
}

.content {
	grid-area: content;
	min-height: 80vh;
	/*justify-self: start;  begins content on left / start of that frame. 'end' for right. or center */
}
.box {
	background-color: #C9C9C9;
	text-align: center;
	border-radius: 25px;
	margin-bottom: 10px;
	margin-top: 15px;
	margin-right: 15px;

}

.box#certifications {

	display: grid;
	align-items: center;
	justify-items: center;
}
.contact_table {
	padding: 5px 5px 5px 5px;
	text-align: left;
}
.contact_table td  {
	padding-left: 5px;
}
p {
	padding: 5px;
}

.primary {
	background-color: #428BCA;
}
.primary:hover{
	background-color: #007BFF;
}
.btn {
	border-radius: 5px;
	text-align: center;
	margin: 5px;
	padding: 10px 15px;
	display: inline-block;
	color: #FFFFFF;
}

/* ------------------ */
.footer {
	grid-area: footer;
	padding: 10px;
	background-color: var(--theme-one);
	color: var(--text-main);

}
.footer .footer-nav {
	margin-top: 7px;
}
.footer li {
	display: inline-block;
	padding-left: 1.5em;

}


/* anything larger than the 740px
	@media screen and (min-width: 740px) {
		.grid {
		display: grid;
		grid-template-columns: 1fr 45% 45% 1fr;


		grid-template-areas:
			" . title title . "
			" . header header . "
			" . sidebar content . "
			" . footer footer . "
		;
	}
	}
*/
